COMPOSE_PROJECT_NAME=ustc_lakehouse

FLINK_BASE_IMAGE=flink:2.2.0-scala_2.12-java17
FLINK_IMAGE=ustc/flink-paimon:2.2.0-paimon
PAIMON_VERSION=1.4.2
FLINK_KAFKA_CONNECTOR_VERSION=5.0.0-2.2
FLINK_CDC_VERSION=3.6.0-2.2
MYSQL_CONNECTOR_VERSION=9.3.0

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=ad_ods
MYSQL_USER=ad_user
MYSQL_PASSWORD=ad_pass

KAFKA_EXTERNAL=localhost:29092

STARROCKS_IMAGE=starrocks/allin1-ubuntu:4.0.12
SUPERSET_IMAGE=apache/superset:3.0.0
