COMPOSE_PROJECT_NAME=ustc_lakehouse
FLINK_BASE_IMAGE=flink:1.20.3-scala_2.12-java17
FLINK_IMAGE=ustc/flink-fluss-paimon-starrocks:1.20.3
FLUSS_VERSION=0.9.1-incubating
PAIMON_VERSION=1.3.1
FLINK_CDC_VERSION=3.6.0-1.20
STARROCKS_CONNECTOR_VERSION=1.2.12_flink-1.20
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=ad_ods
MYSQL_USER=ad_user
MYSQL_PASSWORD=ad_pass
SUPERSET_IMAGE=apache/superset:3.0.0
